/* src/components/CustomTable/CustomTable.css */

.ant-table-wrapper {
    width: 100%;
}

.ant-table {
    border: 1px solid #e8e8e8;
}

.ant-table-thead > tr > th {
    background-color: #f0f0f0;
    text-align: center !important;
}

.ant-table-tbody > tr > td {
    text-align: center !important;
}

.ant-table-tbody > tr > td img {
    width: 80px !important;
    height: auto;
}
.btn-staff {
    padding: 10px 12px;
}
.status {
    font-weight: 700;
    font-size: 1rem;
}
